<?xml version="1.0"?>

<launch>
	<!-- Start the simulation -->
	<!--<include file="$(find hector_quadrotor_gazebo_mod)/launch/mySpawn_quadrotor_with_kinect_indigo.launch"/>-->
	<arg name="use_ground_truth_for_tf" default="true" />
	<include file="$(find hector_gazebo_worlds)/launch/small_indoor_scenario.launch"/>
	<!--<include file="$(find vil_drones)/launch/obstacles_1.launch"/>-->
   
  <!--<include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find vil_drones)/urdf/quadrotor_with_depth_camera_and_sonars.gazebo.xacro"/> 
	</include>-->
   <include file="$(find autonomous_quadrotor)/launch/MySpawn_quadrotor.launch" >
     <arg name="model" value="$(find hector_quadrotor_urdf)/urdf/quadrotore.urdf"/>
     <arg name="use_ground_truth_for_tf" value="$(arg use_ground_truth_for_tf)" />
   </include>

	<node pkg="action_controller" type="action_controller" name="action_controller"/>
	<include file="$(find quadrotore2_moveit)/launch/plan_and_execute.launch"/>
</launch>
